:root {
  --color-1: rgb(169, 229, 187);
  --color-2: rgb(252, 246, 177);
  --color-3: rgb(247, 179, 43);
  --color-4: rgb(247, 44, 37);
  --color-5: rgb(45, 30, 47);
  --error-red: var(--color-4);
  --page-background: var(--color-1);
  --footer-background: var(--color-3);
  --footer-font-color: black;
}
