.stylish-code {
  border: solid 1px #d79921;
  border-radius: 0.25em;
  background: #00000088;
  color: #83a598;
  overflow: auto;
}

main {
  color: cyan;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  line-height: unset;
}

.fun-list {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem;

  li::before {
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
  }

  li:nth-child(4n + 1)::before {
    content: "🕹 ";
  }

  li:nth-child(4n + 2)::before {
    content: "📼 ";
  }

  li:nth-child(4n + 3)::before {
    content: "👾 ";
  }

  li:nth-child(4n)::before {
    content: "👻 ";
  }
}

.question-wrapper {
  border: solid 1px var(--color-2);
  border-radius: 0.5rem;
  width: min(100%, 70rem);
  margin: 1rem auto;
  padding: 0.5rem;

  li {
    list-style: cambodian;
  }

  .question {
    font-weight: bold;
  }
}

img {
  max-width: 100%;
}
